#!/bin/sh
# Configuration for Packer and Terraform
tenant_id=$(az account show --query 'tenantId' --output tsv)
subscription_id=$(az account show --query 'id' --output tsv)

# TODO: Avoid hard-coded input in versioned file
resource_group="SIG-CLUSTER-LIFECYCLE-MINIKUBE" #-- REPLACE with your resource group name

export TF_VAR_tenant_id="${tenant_id}"
export TF_VAR_subscription_id="${subscription_id}"
export TF_VAR_resource_group="${resource_group}"
export TF_VAR_location="southcentralus"

export PKR_VAR_tenant_id="${tenant_id}"
export PKR_VAR_subscription_id="${subscription_id}"
export PKR_VAR_resource_group="${resource_group}"
