---
# Prepares Azure Shared Image Gallery (SIG) to accept VM images built using separate workflow.
name: '1 - Deploy SIG'

on:
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token.
    runs-on: ubuntu-latest

    env:
      AZURE_DEFAULTS_LOCATION: "swedencentral"
      MINIKUBE_AZ_RESOURCE_GROUP: "SIG-CLUSTER-LIFECYCLE-MINIKUBE"
      MINIKUBE_AZ_SIG_NAME: "minikube" # see https://learn.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries
      MINIKUBE_AZ_IMAGE_NAME: "minikube-ci-windows-11" # VM image definition in SIG

    steps:
    - uses: actions/checkout@v6

    - name: Check Bicep templates
      run: |
        make bicep-fmt && make bicep-lint

    # Configured federated identity credential for GitHub Actionsa using:
    # https://github.com/microsoftgraph/msgraph-bicep-types/tree/main/quickstart-templates/create-fic-for-github-actions
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.MINIKUBE_AZ_CLIENT_ID }}
        subscription-id: ${{ secrets.MINIKUBE_AZ_SUBSCRIPTION_ID }}
        tenant-id: ${{ secrets.MINIKUBE_AZ_TENANT_ID }}

    # Equivalent of the sig-deploy target in the Makefile
    - name: Deploy Azure Shared Image Gallery
      uses: azure/bicep-deploy@v2
      with:
        type: deploymentStack
        operation: create
        name: "gha-minikube-sig"
        scope: resourceGroup
        resource-group-name: ${{ env.MINIKUBE_AZ_RESOURCE_GROUP }}
        subscription-id: ${{ secrets.MINIKUBE_AZ_SUBSCRIPTION_ID }}
        template-file: ./sig.bicep
        parameters-file: ./sig.bicepparam
        action-on-unmanage-resources: delete
        deny-settings-mode: none
